# Cleaning F1 Data
## 1. Import libs and data
## 2. Consistency Checks
    2.1 Check shape and head
    2.2 Missing Data
    2.3 Duplicate Checks
## 3. Statistical Analysis
## 4. Check Data Types
## 5. Export Data

### 1. Import

In [50]:
# Import Libraries 
import pandas as pd 
import numpy as np 
import os

In [51]:
# Set path
path = r'/Users/allisonweese/Documents/Career Foundry/Achievement 6/F1'

In [52]:
# Import dataframes
drivers = pd.read_csv(os.path.join(path, 'drivers_updated.csv'), index_col = False)
laps = pd.read_csv(os.path.join(path, 'fastest_laps_updated.csv'), index_col = False)
teams = pd.read_csv(os.path.join(path, 'teams_updated.csv'), index_col = False)
winners = pd.read_csv(os.path.join(path, 'winners.csv'), index_col = False)

### 2. Consistency Check

##### 2.1 Check shape and head

In [53]:
# check shape
drivers.shape

(1661, 7)

In [54]:
laps.shape

(1108, 6)

In [55]:
teams.shape

(695, 4)

In [56]:
winners.shape

(1110, 7)

In [57]:
# check head
drivers.head()

  Pos                Driver Nationality          Car   PTS  year Code
0   1         Nino  Farina          ITA   Alfa Romeo  30.0  1950  FAR
1   2  Juan Manuel  Fangio          ARG   Alfa Romeo  27.0  1950  FAN
2   3       Luigi  Fagioli          ITA   Alfa Romeo  24.0  1950  FAG
3   4         Louis Rosier          FRA  Talbot-Lago  13.0  1950  ROS
4   5      Alberto  Ascari          ITA      Ferrari  11.0  1950  ASC

In [58]:
laps.head()

,Grand Prix,Driver,Car,Time,year,Code
0,Great Britain,Nino Farina,Alfa Romeo,1:50.600,1950,FAR
1,Monaco,Juan Manuel Fangio,Alfa Romeo,1:51.000,1950,FAN
2,Indianapolis 500,Johnnie Parsons,Kurtis Kraft Offenhauser,NaN,1950,PAR
3,Switzerland,Nino Farina,Alfa Romeo,2:41.600,1950,FAR
4,Belgium,Nino Farina,Alfa Romeo,4:34.100,1950,FAR

In [59]:
teams.head()

  Pos           Team   PTS  year
0   1        Vanwall  48.0  1958
1   2        Ferrari  40.0  1958
2   3  Cooper Climax  31.0  1958
3   4            BRM  18.0  1958
4   5       Maserati   6.0  1958

In [60]:
winners.head()

,Grand Prix,Date,Winner,Car,Laps,Time,Name Code
0,Great Britain,1950-05-13,Nino Farina,Alfa Romeo,70.0,2:13:23.600,FAR
1,Monaco,1950-05-21,Juan Manuel Fangio,Alfa Romeo,100.0,3:13:18.700,FAN
2,Indianapolis 500,1950-05-30,Johnnie Parsons,Kurtis Kraft Offenhauser,138.0,2:46:55.970,PAR
3,Switzerland,1950-06-04,Nino Farina,Alfa Romeo,42.0,2:02:53.700,FAR
4,Belgium,1950-06-18,Juan Manuel Fangio,Alfa Romeo,35.0,2:47:26.000,FAN

##### 2.2 Check missing values and address

In [61]:
# check for missing values in laps df
missing_values = laps.isnull().sum()
print(missing_values)

Grand Prix    0
Driver        0
Car           0
Time          1
year          0
Code          0
dtype: int64

In [62]:
#drop row with missing value
laps_nomiss = laps.dropna()

# Verify that there are no more missing values
missing_values_after = laps_nomiss.isna().sum()
missing_values_after

Grand Prix    0
Driver        0
Car           0
Time          0
year          0
Code          0
dtype: int64

In [63]:
# check for missing values in teams df
missing_values = teams.isnull().sum()
print(missing_values)

Pos     0
Team    0
PTS     0
year    0
dtype: int64

In [64]:
# no missing values in teams

In [65]:
# check for missing values in winners df
missing_values = winners.isnull().sum()
print(missing_values)

Grand Prix    0
Date          0
Winner        0
Car           0
Laps          3
Time          3
Name Code     0
dtype: int64

In [68]:
#drop rows with missing value
winners_nomiss = winners.dropna()

# Verify that there are no more missing values
missing_values_after = winners_nomiss.isna().sum()
missing_values_after

Grand Prix    0
Date          0
Winner        0
Car           0
Laps          0
Time          0
Name Code     0
dtype: int64

In [67]:
# check for missing values in drivers df
missing_values = drivers.isnull().sum()
print(missing_values)

Pos             0
Driver          0
Nationality     0
Car            11
PTS             0
year            0
Code            0
dtype: int64

In [69]:
#drop rows with missing value
drivers_nomiss = drivers.dropna()

# Verify that there are no more missing values
missing_values_after = drivers_nomiss.isna().sum()
missing_values_after

Pos            0
Driver         0
Nationality    0
Car            0
PTS            0
year           0
Code           0
dtype: int64

##### 2.3 Check for dupes

In [70]:
# Check for duplicate rows
duplicate_rows = drivers_nomiss[drivers_nomiss.duplicated()]

# Display the duplicate rows
duplicate_rows

Empty DataFrame
Columns: [Pos, Driver, Nationality, Car, PTS, year, Code]
Index: []

In [71]:
# Check for duplicate rows
duplicate_rows = winners_nomiss[winners_nomiss.duplicated()]

# Display the duplicate rows
duplicate_rows

Empty DataFrame
Columns: [Grand Prix, Date, Winner, Car, Laps, Time, Name Code]
Index: []

In [72]:
# Check for duplicate rows
duplicate_rows = teams[teams.duplicated()]

# Display the duplicate rows
duplicate_rows

Empty DataFrame
Columns: [Pos, Team, PTS, year]
Index: []

In [73]:
# Check for duplicate rows
duplicate_rows = laps_nomiss[laps_nomiss.duplicated()]

# Display the duplicate rows
duplicate_rows

Empty DataFrame
Columns: [Grand Prix, Driver, Car, Time, year, Code]
Index: []

In [74]:
# no dupes

#### 3. Statistical Analysis

In [82]:
# Basic descriptive statistics drivers
descriptive_stats = drivers_nomiss.describe()
descriptive_stats

             Pos          PTS         year
count     1649.0  1650.000000  1650.000000
mean   11.406307    31.311212  1987.304848
std     6.445805    60.605635    21.797676
min          1.0     0.000000  1950.000000
25%          6.0     3.000000  1968.000000
50%         11.0     9.000000  1988.000000
75%         17.0    32.000000  2007.000000
max         28.0   575.000000  2024.000000

In [85]:
# Basic descriptive statistics teams
descriptive_stats = teams.describe()
descriptive_stats

            Pos         PTS         year
count     693.0  695.000000   695.000000
mean    5.88456   70.191367  1992.133813
std    3.295812  125.683887    18.337241
min         1.0    0.000000  1958.000000
25%         3.0    7.000000  1977.000000
50%         6.0   25.500000  1991.000000
75%         8.0   70.500000  2008.000000
max        16.0  860.000000  2024.000000

In [92]:
# Basic descriptive statistics winners
descriptive_stats = winners_nomiss.describe()
descriptive_stats

                                Date         Laps
count                           1107  1107.000000
mean   1992-09-19 22:27:38.536585344    64.654020
min              1950-05-13 00:00:00     1.000000
25%              1976-09-22 12:00:00    54.000000
50%              1994-06-12 00:00:00    65.000000
75%              2010-07-18 00:00:00    72.000000
max              2024-05-05 00:00:00   200.000000
std                              NaN    20.267526

In [78]:
# Basic descriptive statistics laps
descriptive_stats = laps_nomiss.describe()
descriptive_stats

              year
count  1107.000000
mean   1992.263776
std      20.363980
min    1950.000000
25%    1976.000000
50%    1994.000000
75%    2010.000000
max    2024.000000

#### 4. Check column data types

In [79]:
# Check the data types of each column
column_data_types = drivers_nomiss.dtypes
column_data_types

Pos             object
Driver          object
Nationality     object
Car             object
PTS            float64
year             int64
Code            object
dtype: object

In [81]:
# Convert 'Pos' column to integer if it contains only numeric values using .loc
drivers_nomiss.loc[:, 'Pos'] = pd.to_numeric(drivers_nomiss['Pos'], errors='coerce').astype('Int64')

# Verify the updated data types
updated_column_data_types = drivers_nomiss.dtypes
updated_column_data_types

Pos              Int64
Driver          object
Nationality     object
Car             object
PTS            float64
year             int64
Code            object
dtype: object

In [83]:
# Check the data types of each column
column_data_types = teams.dtypes
column_data_types

Pos      object
Team     object
PTS     float64
year      int64
dtype: object

In [84]:
# Convert 'Pos' column to integer if it contains only numeric values
teams['Pos'] = pd.to_numeric(teams['Pos'], errors='coerce').astype('Int64')

In [86]:
# Check the data types of each column
column_data_types = winners_nomiss.dtypes
column_data_types

Grand Prix     object
Date           object
Winner         object
Car            object
Laps          float64
Time           object
Name Code      object
dtype: object

In [88]:
# Convert 'Date' column to datetime using .loc to avoid the warning
winners_nomiss.loc[:, 'Date'] = pd.to_datetime(winners_nomiss['Date'], errors='coerce')

In [90]:
# Convert
winners_nomiss.loc[:, 'Laps'] = pd.to_numeric(winners_nomiss['Laps'], downcast='integer', errors='coerce')

In [91]:
# Check the data types of each column
column_data_types = winners_nomiss.dtypes
column_data_types

Grand Prix            object
Date          datetime64[ns]
Winner                object
Car                   object
Laps                   int16
Time                  object
Name Code             object
dtype: object

In [93]:
# Check the data types of each column
column_data_types = laps_nomiss.dtypes
column_data_types

Grand Prix    object
Driver        object
Car           object
Time          object
year           int64
Code          object
dtype: object

#### 5. Export CSV's

In [94]:
drivers_nomiss.to_csv(os.path.join(path, 'Data After Assignment 6.1', 'driversdata.csv'))

In [95]:
teams.to_csv(os.path.join(path, 'Data After Assignment 6.1', 'teamsdata.csv'))

In [96]:
winners_nomiss.to_csv(os.path.join(path, 'Data After Assignment 6.1', 'winnersdata.csv'))

In [97]:
laps_nomiss.to_csv(os.path.join(path, 'Data After Assignment 6.1', 'lapsdata.csv'))

In [98]:
# end notebook